.addContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  margin-top: 25px;
}
.buyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.buyCancel {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
