.addContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  margin-top: 25px;
}
.buyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.buyCancel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.postBuyButtons {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 30%;
}
.cardHolder {
  display: flex;
  width: 100%;
  justify-content: center;
}
