.addIcon {
  margin-left: 0.5em;
}
.makeQuizContainer {
  margin-top: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.saveButton {
  width: 10%;
}
.button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ButtonGroup {
  margin-bottom: 8px;
}
.saveStyle {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: pink;
  flex-direction: row;
}
.paper {
  margin-top: 2em;
  width: 80%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questionList {
  width: 20%;
  border-right: "3px solid black";
  border-color: black;
  background-color: green;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.avatar {
  margin: 1em;
  background-color: #dc004e;
}
.form {
  width: 100%;
  margin-top: 2em;
}
.name {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 20%;
}
.questionPaper {
  margin-bottom: 3em;
  width: 70%;
  border-radius: 70em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.styleAdd {
  margin-top: 2em;
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: center;
}

/* const useStyles = makeStyles((theme) => ({
   
    
 
  
  
    submit: {
      margin: theme.spacing(3, 0, 2),
    },
  }));
   */
