.headerContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.headerTop {
  display: flex;
  flex-direction: row;
}
.header {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  width: 65%;
}
.paperClosed {
  width: 25%;
  height: 210px;
  margin-bottom: 100px;
  margin-right: 10px;
}
.paperInside {
  height: 210px;
}
.search {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 35%;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
