.headerContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.headerTop {
  display: flex;
  flex-direction: row;
}
.header {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  width: 65%;
}
.paperClosed {
  width: 25%;
  height: 210px;
  margin-bottom: 100px;
  margin-right: 10px;
}
.paperInside {
  height: 210px;
}
/* .searchDropdown {
} */
.dropDown {
}
.searchTitle {
  display: flex;
  justify-content: center;
}
.subjectName {
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: grey;
}
.controlDivider {
  display: flex;
  justify-content: center;
}
.listItem:hover {
  background-color: chartreuse;
  cursor: pointer;
}
.listItem {
  font-size: small;
  padding-left: 10px;
}
.noMatch {
  font-size: small;
  padding-left: 10px;
}
.divider {
  border-bottom: 0.5px solid black;
  width: 90%;
}
.search {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 35%;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.subjectText {
  padding: 0px;
  margin: 0px;
  margin-top: -2px;
  color: antiquewhite;
}
