.bottomSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.bottomSectionLeft {
  display: flex;
  flex-direction: row;
  width: 33.3%;
  height: 70%;
  margin-top: -5em;
}
.bottomSectionMiddle {
  padding-top: 0em;
  width: 33.3%;
  height: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottomSectionRight {
  /* background-color: rgb(220, 245, 235); */
  width: 33.3%;
  height: 70%;
  display: flex;
  flex-direction: row;
  margin-top: -5em;
}
/* .chips {
  width: 100%;
  display: flex;
  background-color: royalblue;
} */
.container {
  height: 100%;
  width: 100%;
  background-color: darkkhaki;
}
.description {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 10px;
  font-size: 14px;
  color: aliceblue;
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-direction: column;
  margin-top: 0.5em;
  background-color: deepskyblue;
  max-height: 30%;
  max-width: 30%;
  border-radius: 20px;
  overflow: hidden;
}
.descriptionContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.descriptionHeadline {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.profile {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}
.createdBy {
  display: flex;
  justify-content: center;
  /* width: 65%; */
}
.collectionHeader {
  display: flex;

  justify-content: center;
}
.cardHolder:hover {
  background-color: deepskyblue;
  cursor: pointer;
}
.insideBSLLeft {
  display: flex;
  width: 95%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.insideBSLRight {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  /* flex-direction: column; */
}
.insideBSRLeft {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.insideBSRRight {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 3em;
  margin-top: -7em;
  margin-left: 1em;
}
.link {
  margin-bottom: 10em;
}
.macroContainer {
  width: 85%;
  display: flex;
  justify-content: center;
}
.macroMakers {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.makerName {
  margin-left: 1em;
  padding-top: 0.5em;
  font-weight: bold;
}
.paperContainer {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  width: 90%;
}
.paperTitle {
  display: flex;
  justify-content: center;
}
.sidePanel {
  background-color: darkseagreen;
  width: 15%;
}
